.container-fluid {

  font-family: 'Titillium Web', sans-serif;
  margin-left: 30px;

}

.px-3{

  font-family: 'Titillium Web', sans-serif;

}  

body{

  font-family: 'Titillium Web', sans-serif;

}

div::-webkit-scrollbar {
  width: 1em;
  height:10px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

div::-webkit-scrollbar-thumb {
background-color: azure;
outline: 1px solid slategrey;
}

.nav-header{


  height: 50px;
  background: rgba(14, 1, 1, 0.9);
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15) !important;
  width: auto;
  margin-left: 0;

  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
  

}

.my-custom-scrollbar {
  position: relative;
  height: 415px;
  overflow: auto;

  }
  .table-wrapper-scroll-y {
  display: block;
  }



  .Numb{


    color: #2c3fec;
    text-align: center;
  }

  tr:hover { background-color: #eceef0;}




a:link{
  color: #1d3fd8;

}

a:visited{
  color: #383be4;

}

a:hover{
  color: #19244F;

}


  

